<%- include("header") %>

<div class="main">
    <div class="get mid" onclick="redirect('/api/books')">
        <h1>Get All Bookings</h1>
    </div>
    <div class="post mid" onclick="redirect('/post')">
        <h1>Book a Ride</h1>
    </div>   
</div>

<%- include("footer") %>